In [70]:
import pandas as pd
import numpy as np
from datetime import datetime

In [71]:

# Load the data
df = pd.read_csv('/Users/vasantsaladi/Documents/GitHub/air_map/ML/Data/marylandflyml.csv')

In [72]:
# Convert 'observed_on' to datetime
df['observed_on'] = pd.to_datetime(df['observed_on'], errors='coerce')

In [73]:
# Remove rows with missing values in important columns
important_columns = ['id', 'observed_on', 'latitude', 'longitude', 'place_county_name', 'species_guess']
df = df.dropna(subset=important_columns)

In [74]:

  # Ensure consistent formatting for species names
df['species_guess'] = df['species_guess'].str.lower().str.strip()

In [75]:
# Remove duplicate entries
df = df.drop_duplicates()

In [76]:

# Reset the index
df = df.reset_index(drop=True)

In [77]:
print(f"Total number of observations: {len(df)}")
print(f"Date range: {df['observed_on'].min()} to {df['observed_on'].max()}")
print(f"Number of unique counties: {df['place_county_name'].nunique()}")
print("\nTop 5 counties by number of observations:")
print(df['place_county_name'].value_counts().head())
print("\nNumber of observations by species:")
print(df['species_guess'].value_counts())

Total number of observations: 4001
Date range: 2019-09-29 00:00:00 to 2024-10-05 00:00:00
Number of unique counties: 18

Top 5 counties by number of observations:
place_county_name
Baltimore             962
Baltimore City, MD    616
Howard                392
Washington            320
Harford               286
Name: count, dtype: int64

Number of observations by species:
species_guess
spotted lanternfly           3978
lycorma delicatula             16
chinche linterna manchada       4
斑衣蜡蝉                            2
シタベニハゴロモ                        1
Name: count, dtype: int64

In [78]:
# Save the cleaned data
df.to_csv('/Users/vasantsaladi/Documents/GitHub/air_map/ML/Data/marylandflyml.csv', index=False)
print("\nCleaned data saved to marylandflyml.csv")

Cleaned data saved to marylandflyml.csv