In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


# Load the dataset

In [56]:

# Load the dataset you want to filter
df = pd.read_csv('/Users/vasantsaladi/Documents/GitHub/air_map/ML/Data/Virginiafly.csv')  # This is the correct filename
df.head()

,id,observed_on,latitude,longitude,positional_accuracy,place_county_name,place_state_name,species_guess
0,17131113,2018-10-02,39.195160,-78.156853,NaN,Winchester,Virginia,Spotted Lanternfly
1,17570875,2018-10-16,39.218825,-78.155147,5.0,Frederick,Virginia,Spotted Lanternfly
2,29787342,2019-07-29,39.211208,-78.162369,165.0,Frederick,Virginia,Spotted Lanternfly
3,30241294,2019-07-27,39.201664,-78.153679,NaN,Frederick,Virginia,Spotted Lanternfly
4,30316398,2019-08-06,39.201522,-78.167512,8.0,Frederick,Virginia,Spotted Lanternfly

In [57]:
mean_positional_accuracy = 3422.3690676945316
print(mean_positional_accuracy)

3422.3690676945316

In [58]:

rows_before = len(df)

# Filter the dataframe
df = df[df['positional_accuracy'] < mean_positional_accuracy]

# Calculate the number of rows after filtering
rows_after = len(df)

# Calculate and print the number of rows removed
rows_removed = rows_before - rows_after
print(f"Number of rows removed: {rows_removed}")
print(f"Number of rows after filtering: {rows_after}")

df.head()

Number of rows removed: 579
Number of rows after filtering: 2238

,id,observed_on,latitude,longitude,positional_accuracy,place_county_name,place_state_name,species_guess
1,17570875,2018-10-16,39.218825,-78.155147,5.0,Frederick,Virginia,Spotted Lanternfly
2,29787342,2019-07-29,39.211208,-78.162369,165.0,Frederick,Virginia,Spotted Lanternfly
4,30316398,2019-08-06,39.201522,-78.167512,8.0,Frederick,Virginia,Spotted Lanternfly
5,30324049,2019-08-06,39.202667,-78.165070,32.0,Frederick,Virginia,Spotted Lanternfly
6,30376970,2019-08-07,39.209289,-78.146740,10.0,Frederick,Virginia,Spotted Lanternfly

In [59]:
# Export the filtered dataframe to a new CSV file
output_path = '/Users/vasantsaladi/Documents/GitHub/air_map/ML/Data/virginiaflyml.csv'
df.to_csv(output_path, index=False)
print(f"Filtered data exported to: {output_path}")

Filtered data exported to: /Users/vasantsaladi/Documents/GitHub/air_map/ML/Data/virginiaflyml.csv