In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


# Load the dataset

In [45]:

# Load the dataset
df = pd.read_csv('/Users/vasantsaladi/Documents/GitHub/air_map/ML/Data/Virginiafly.csv')  # This is the correct filename
df.head()

,id,observed_on_string,observed_on,time_observed_at,time_zone,place_guess,latitude,longitude,positional_accuracy,place_town_name,place_county_name,place_state_name,place_country_name,species_guess,scientific_name
0,7479983,Sun Aug 13 2017 15:23:33 GMT-0400 (EDT),2017-08-13,2017-08-13 19:23:33 UTC,Eastern Time (US & Canada),"711 Double Creek Rd, Chestertown, MD, US",39.235747,-75.970398,1136905.0,NaN,Queen Anne's,Maryland,United States,Spotted Lanternfly,Lycorma delicatula
1,33593938,Sun Sep 29 2019 11:33:02 GMT-0400 (EDT),2019-09-29,2019-09-29 15:33:02 UTC,Eastern Time (US & Canada),"Biggs Hwy, North East, MD, US",39.641637,-75.959239,16.0,NaN,Cecil,Maryland,United States,Spotted Lanternfly,Lycorma delicatula
2,34430920,2019-08-10,2019-08-10,NaN,UTC,"4, Fair Hill, MD 21921, USA",39.701939,-75.822276,4208.0,NaN,Cecil,Maryland,United States,Spotted Lanternfly,Lycorma delicatula
3,34832636,Thu Oct 24 2019 12:21:08 GMT-0400 (EDT),2019-10-24,2019-10-24 16:21:08 UTC,Eastern Time (US & Canada),"Conowingo Rd, Rising Sun, MD, US",39.703907,-76.100275,12808.0,NaN,Cecil,Maryland,United States,Spotted Lanternfly,Lycorma delicatula
4,48448436,2020-06-04T12:39:13-04:00,2020-06-04,2020-06-04 16:39:13 UTC,Eastern Time (US & Canada),Port Deposit,39.635565,-76.031037,569.0,NaN,Cecil,Maryland,United States,Spotted Lanternfly,Lycorma delicatula

In [46]:
# Transform Data Frame
df = df.drop(['scientific_name', 'place_guess','place_town_name', 'time_zone', 'observed_on_string','time_observed_at'], axis=1)
#dropped the columns that are not needed for the model
df.head()

,id,observed_on,latitude,longitude,positional_accuracy,place_county_name,place_state_name,place_country_name,species_guess
0,7479983,2017-08-13,39.235747,-75.970398,1136905.0,Queen Anne's,Maryland,United States,Spotted Lanternfly
1,33593938,2019-09-29,39.641637,-75.959239,16.0,Cecil,Maryland,United States,Spotted Lanternfly
2,34430920,2019-08-10,39.701939,-75.822276,4208.0,Cecil,Maryland,United States,Spotted Lanternfly
3,34832636,2019-10-24,39.703907,-76.100275,12808.0,Cecil,Maryland,United States,Spotted Lanternfly
4,48448436,2020-06-04,39.635565,-76.031037,569.0,Cecil,Maryland,United States,Spotted Lanternfly

In [47]:
mean_positional_accuracy = 3422.3690676945316
print(mean_positional_accuracy)

3422.3690676945316

In [48]:

rows_before = len(df)

# Filter the dataframe
df = df[df['positional_accuracy'] < mean_positional_accuracy]

# Calculate the number of rows after filtering
rows_after = len(df)

# Calculate and print the number of rows removed
rows_removed = rows_before - rows_after
print(f"Number of rows removed: {rows_removed}")
print(f"Number of rows after filtering: {rows_after}")

df.head()

Number of rows removed: 926
Number of rows after filtering: 4004

,id,observed_on,latitude,longitude,positional_accuracy,place_county_name,place_state_name,place_country_name,species_guess
1,33593938,2019-09-29,39.641637,-75.959239,16.0,Cecil,Maryland,United States,Spotted Lanternfly
4,48448436,2020-06-04,39.635565,-76.031037,569.0,Cecil,Maryland,United States,Spotted Lanternfly
7,49969578,2020-06-17,39.710677,-75.903565,115.0,Cecil,Maryland,United States,Spotted Lanternfly
8,50097769,2020-06-18,39.706916,-75.804293,217.0,Cecil,Maryland,United States,Spotted Lanternfly
9,50663004,2020-06-23,39.706112,-75.894490,10.0,Cecil,Maryland,United States,Spotted Lanternfly

In [49]:
# Export the filtered dataframe to a new CSV file
output_path = '/Users/vasantsaladi/Documents/GitHub/air_map/ML/Data/marylandflyml.csv'
df.to_csv(output_path, index=False)
print(f"Filtered data exported to: {output_path}")

Filtered data exported to: /Users/vasantsaladi/Documents/GitHub/air_map/ML/Data/marylandflyml.csv